@font-face {
    font-family: narnia;
    src: url(Fonts/Narnia.ttf);
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    main{
    width: 100%;
    background-color: #fff;
    }
    nav{
        font-family: poppins;
        background-color: #000000;
    }
    .page1{
        height: 95vh;
        width: 100%;
        position: relative;
        font-family: "Open Sans", sans-serif;
    }
    .video{
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .video .hero-image{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: none;
    }
    .video video{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 0;
    }
    .content {
        position: relative;
        background: rgba( 255, 255, 255, 0.05 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3px );
        height: 100%;
        width: 100%;
        padding-left: 2vw;
    }

    .content h2 {
        font-size: 7vw;
        font-weight: 700;
        line-height: 7.5vw;
        text-align: center;
        text-transform: uppercase;
        color: #dbdbdb;
        position: relative;
        font-family: narnia;
        letter-spacing: 0.2rem;
    }
    .content h2 span {
        position: absolute;
        top: 0;
        left: 0.4%;
        font-size: 6.9vw;
        color: #c7c000;
    }

    .content p {
        color: #fff;
        text-align: center;
        padding-left: 0.6rem;
        font-size: 1.5vw;
        font-weight: 300;
    }
    .content .reserve-btn{
        color: #fff;
        border: 2px solid #c7c000;
        transition: all 0.4s ease;
    }
    .content .reserve-btn:hover {
        color: #000000;
        background-color: #c7c000;
    }





    .page2 {
        height: 100vh;
        width: 100%;
        padding: 3rem;
        font-family: "Open Sans", sans-serif;
    }
    .page2 h2{
        font-size: 4vw;
        font-family: narnia;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
    }
    .page2 .image {
        height: 40%;
        width: 40%;
        overflow: hidden;
    }
    .page2 .image img {
        height: 100%;
        width: 100%;
        transition: all 0.2s ease;
        object-fit: cover;
        object-position: center;
        animation: zoom 5s infinite ease-in-out;
    }
    .page2 .image img:hover {
        scale: 1.1;
    }

    .page2 p {
        font-size: 1.6vw;
        font-weight: 100;
        text-align: justify;
        line-height: 2.5vw;
        width: 75%;
    }
    .page2 p span{
    font-family: narnia;
    letter-spacing: 0.15rem;
    color: lightsalmon;
    }



    .page3 {
        min-height: 100vh;
        width: 100%;
    }
    .page3 h2{
        font-family: narnia;
        text-align: center;
        font-size: 7rem;
        text-decoration: underline;
    }
    .page3 h3{
        font-family: narnia;
        font-size: 4rem;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        margin-bottom: 2rem;
        text-align: center;
    }
    .page3 h5{
        text-transform: capitalize;
    }
    .page3 img{
        transition: all 0.3s ease;
    }
    .page3 img:hover{
        scale: 1.1;
    }
    .page3 .rounded-2 img{
            height:100%;
            width:100%;
            object-fit:cover;
    }

    .page4{
        min-height: 100vh;
    }
    .page4 .social-links{
        color: lightsalmon;
    }
    .page4 .social-links a{
        border: 1px solid #c0c0c0;
        padding: 0.1rem 0.6rem;
        border-radius: 50%;
        transition: all 0.2s ease;
    }
    .page4 .social-links a:hover{
        background-color: rgb(227, 227, 227);
    }
    .page4 h3{
        font-family: narnia;
        font-size: 5rem;
    }
    .page4 .row p{
        padding: 0 10vw;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .page4 .row p span{
        font-weight: 500;
        color: lightsalmon;
        text-transform: capitalize;
    }


    .page4 .card img{
        object-position: 100% 20%; 
    }

    .page5{
        height: 100vh;
    }
    .page5 h3{
        font-family: narnia;
        font-size: 5rem;
    }
    .page5 .row p{
        padding: 0 10vw;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .page5 .itemss img{
        height: 80px !important;
        width: 80px !important;
        border-radius: 50%;
    }
    .page5 .row .itemss p{
        font-size: 1rem;
        font-weight: 300;
        padding: 0 2rem;
    }

    footer{
        margin-top: 10vh;
        padding: 0 3rem;
        font-family: poppins;
    }
    footer .socials{
        margin-top: 1.5rem;
    }

    footer .content1{
        width: 60%;
    }

@media all and (max-width: 600px){
    
    .video .hero-image{
        display: block;
    }
    .video video{
        display: none;
    }

    .content h2 {
        font-size: 15vw;
        line-height: 15.5vw;
    }
    .content h2 span{
            font-size: 14.9vw;
        }

    .content p {
        font-size: 4vw;
        
    }

    .page2 {
        padding: 2rem;
    }

    .page2 > h2 {
        font-size: 9vw;
    }

    .page2 > .image {
        width: 100%;
    }

    .page2 > p {
        font-size: 4vw;
        text-align: initial;
        line-height: 6vw;
        width: 100%;
    }

    .page3 h2{
        font-size: 4.5rem;
    }
    .page3 h3{
        text-align: center;
        font-size: 2rem;
    }

    .page4 h3{
        font-family: narnia;
        font-size: 3rem;
    }
    .page4 .social-links a{
        padding: 0.2rem 0.6rem;
    }

    .page4 .row p{
        padding: 0 3vw;
        font-size: 1.1rem;
    }
    .page5 h3{
        font-family: narnia;
        font-size: 3rem;
    }
    .page5 .row p{
        padding: 0 3vw;
        font-size: 1.1rem;
        font-weight: 300;
    }

    
    footer{
        padding: 0 2rem;
        margin-top: 10vh;
    }

    footer .content1{
        width: 100%;
    }
    footer .socials{
        margin-top: 0;
    }

    footer .reach{
        margin-top: 4rem;
    }

}


@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* Adjust the scale value to control the zoom level */
    }
    100% {
        transform: scale(1);
    }
}